.fadeout {
  animation: blinkerout 1.2s linear infinite;
}

@keyframes blinkerout {
  50% {
    color: rgba(200, 10, 10);
  }
}

#playlists .sound-controls {
  flex: 0 0 60px;
  margin-left: 5px;
  justify-content: flex-end;
  align-items: center;
}

#playlists .playlist-header .sound-controls {
  flex: 0 0 80px;
}
